branches:
  only:
    - /^v(.*)?/
language: cpp
sudo: required
dist: bionic
compiler:
  - clang
matrix:
  include:
    # - os: osx
    #   compiler: clang
    #   osx_image: xcode8
    #   env: BUILD_TYPE="Release"
    # - os: osx
    #   compiler: clang
    #   osx_image: xcode9.4
    #   env: BUILD_TYPE="Release"
    - os: osx
      compiler: clang
      osx_image: xcode11.3
      env: BUILD_TYPE="Release"

addons:
  homebrew:
    packages:
      - cmake
    update: true

before_install:
  - cmake --version
  - echo "${TRAVIS_OS_NAME} ${TRAVIS_OSX_IMAGE} ${TRAVIS_CPU_ARCH} ${TRAVIS_TAG}"

install:

before_script:
  - cd "${TRAVIS_BUILD_DIR}"
  - echo "${TRAVIS_BUILD_DIR}"
  - mkdir dist
  - mkdir build
  - cmake -S . -B build
  - cmake -DCMAKE_BUILD_TYPE="$BUILD_TYPE" -DENABLE_SHARED=off -DENABLE_TESTS=off --build build

script:
  - cmake --build build

after_success:
  - cd build
  - make install DESTDIR=../dist
  - cd ../dist
  - ls -l usr/local/lib
  - zip -r "cfdcore-api-${TRAVIS_TAG}-${TRAVIS_OS_NAME}-${TRAVIS_OSX_IMAGE}-x86_64.zip" usr

deploy:
  provider: releases
  api_key:
    secure: ${GITHUB_SECRET_API_KEY}
  file: "cfdcore-api-${TRAVIS_TAG}-${TRAVIS_OS_NAME}-${TRAVIS_OSX_IMAGE}-x86_64.zip"
  draft: false
  on:
    tags: true
  skip_cleanup: true